@keyframes linaer-gradient {

    0% {
        background: linear-gradient(90deg, rgba(253, 251, 255, 0.95) 0%, rgba(255, 207, 241, 0.95) 100%);
        opacity: 1;
    }

    99% {
        background: linear-gradient(90deg, rgba(253, 251, 255, 0.90) 0%, rgba(255, 207, 241, 0.90) 100%);
        opacity: 1;
    }

    100% {
        background: linear-gradient(270deg, rgba(253, 251, 255, 0.85) 0%, rgba(255, 207, 241, 0.85) 100%);
        opacity: 1;
    }
}

@keyframes animationplat {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes grow {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
 
    50% {
        transform: scaleY(1);
        opacity: 1;
    }
 
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
 }