header {
    flex-direction: column;
    text-align: center;
    .localisation {
        background-color: $color-formulaire;
        width: 100%;
        box-shadow: 6px 6px 6px;
        height: 50px;
    }

    input {
        height: 20px;
        border: none;
        margin: 15px;
        background-color: $color-formulaire;
        width: 100px;
        color: $color-footer;
    }

    @media (min-width: 960px) {
        header {
            height: 95px;
        }
    }
/*
    @media (min-width: 932px) {
        header {
            height: 95px;
        }

        .logo-header {
            width: 200px;
        }
    }*/
}

.logo-header {
   font-family: Shrikhand;
        font-style: italic;
        font-size: 34px;
        font-weight: 400;
        line-height: 26.24px;
}