.main_menu {
    background-color: $main-background;
    overflow: hidden;
}

.hidden {
    overflow: hidden;
}

.image-container {
    display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 250px;
}

.text-card {
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.heart-card {
    padding-top: 18px;
}

.heart-card-fr {
    padding-top: 10px;
    display: flex;
    gap: 175px
}

@media screen and (min-width: 1055px) {
    .image-container {
        height: 383px !important;
        overflow: hidden;

        img {
            margin-bottom: -350px;
        }
     }

     .main_menu {
        background: white;
     }

}
/*modifications
@media screen and (min-width: 412px) {
    .image-container {
        height: 299px !important;

        img {
            margin-bottom: 24px;
        }
     }

     .main_menu {
        background: white;
     }

}

@media screen and (min-width: 930px) {
    .image-container {
        height: 500px !important;

        img {
            margin-bottom: 14px;
            height: 100%;
        }
     }

     .main_menu {
        background: white;
     }

}*/ 