.main_menu {
    background-color: $main-background;
}

.image-container {
        width: 100%;
        height: 250px;
        background-position: bottom;
        background-size: cover;
}

.image-container-af {
    background-image: url("../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.image-container-ne {
    background-image: url("../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.image-container-pg {
    background-image: url("../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.image-container-ds {
    background-image: url("../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.text-card {
    padding: 10px;
    justify-content: space-between;
    display: flex;
}

.heart-card {
    padding-top: 18px;
}

.heart-card-fr {
    padding-top: 10px;
    display: flex;
    gap: 175px
}

@media screen and (min-width: 1055px) {
    .image-container {
        height: 383px !important;
     }

     .main_menu {
        background: white;
     }

}
/*modifications
@media screen and (min-width: 412px) {
    .image-container {
        height: 299px !important;

        img {
            margin-bottom: 24px;
        }
     }

     .main_menu {
        background: white;
     }

}

@media screen and (min-width: 930px) {
    .image-container {
        height: 500px !important;

        img {
            margin-bottom: 14px;
            height: 100%;
        }
     }

     .main_menu {
        background: white;
     }

}*/ 