@keyframes linaer-gradient {
  0% {
    background: linear-gradient(90deg, rgba(253, 251, 255, 0.95) 0%, rgba(255, 207, 241, 0.95) 100%);
    opacity: 1;
  }
  99% {
    background: linear-gradient(90deg, rgba(253, 251, 255, 0.9) 0%, rgba(255, 207, 241, 0.9) 100%);
    opacity: 1;
  }
  100% {
    background: linear-gradient(270deg, rgba(253, 251, 255, 0.85) 0%, rgba(255, 207, 241, 0.85) 100%);
    opacity: 1;
  }
}
@keyframes animationplat {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes hideLoaderContainer {
  0% {
    z-index: 1;
    position: fixed;
  }
  100% {
    z-index: 0;
    position: unset;
  }
}
@keyframes hideLoaderOverlay {
  0% {
    position: absolute;
  }
  100% {
    position: unset;
    display: none;
  }
}
.loader-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideLoaderContainer 2s;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: linaer-gradient 0.5s linear 1, hideLoaderOverlay 7s forwards;
  z-index: 1;
}

.loader-content {
  text-align: center;
  z-index: 2;
}

.loader-spin {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff79da;
  border-radius: 50%;
  animation: spin 1s linear infinite, hideLoader 2s forwards;
  margin-bottom: 10px;
}

.loader-text {
  font-family: Shrikhand;
  font-size: 50px;
  animation: hideLoader 2s forwards;
}

header {
  flex-direction: column;
  text-align: center;
}
header .logo-header {
  margin: 20px 0 15px 0;
  width: 40%;
}
header .localisation {
  background-color: #EAEAEA;
  width: 100%;
  box-shadow: 6px 6px 6px;
  height: 50px;
}
header input {
  height: 20px;
  border: none;
  margin: 15px;
  background-color: #EAEAEA;
  width: 100px;
  color: #353535;
}
header .header_link {
  padding-top: 15px;
  position: absolute;
  left: 15px;
  font-size: 30px;
  font-weight: 400;
}
@media (min-width: 960px) {
  header header {
    height: 95px;
  }
  header .logo-header {
    width: 200px;
  }
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  text-align: center;
}

main .section-intro {
  background-color: #F6F6F6;
  padding: 30px 0 30px 0;
}
main .introduction {
  font-size: 26px;
  margin: 0 15% 0 15%;
  padding: 0 0 10px 0;
}
main .intro-p {
  font-size: 18px;
}

.fonction {
  padding-bottom: 60px;
}
.fonction h2 {
  text-align: left;
  padding: 30px 0 20px 20px;
}

.fonction-resto {
  padding-bottom: 50px;
  background-color: #F6F6F6;
}
.fonction-resto h2 {
  margin: 0;
  text-align: left;
  padding: 40px 20px 0;
}

.liste {
  padding-right: 20px;
  list-style-type: none;
  padding-left: 10px;
  margin-left: 10px;
}
.liste .liste-li {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  padding: 10px;
  margin: 10px 10px 15px 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.liste .liste-chiffre {
  margin-left: 12px;
  background-color: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.liste .ladiv {
  margin-left: -30px;
  padding-right: 50px;
}
.liste .logo-store {
  color: #9356DC;
}

@media screen and (min-width: 960px) {
  .fonction {
    margin: auto;
    max-width: 1080px;
  }
  .liste {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .liste-li {
    width: 33%;
    display: flex;
    flex-direction: row;
  }
}
.card-plat {
  width: 100%;
  justify-content: space-between;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin: 10px 0;
  color: black;
  text-decoration: none;
  animation: animationplat 1s both;
}
.card-plat h4,
.card-plat p {
  line-height: 30px;
  margin: 0;
}
.card-plat .price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}
.card-plat .card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  width: 100%;
}
.card-plat .card-check-box {
  display: flex;
  width: 0px;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
}
.card-plat .card-check-box i {
  opacity: 0;
}

.main_menu {
  background-color: #F6F6F6;
}

.image-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 275px;
}

.text-card {
  padding: 10px;
  justify-content: space-between;
  display: flex;
}

.heart-card {
  padding-top: 18px;
}

.heart-card-fr {
  padding-top: 10px;
  display: flex;
  gap: 175px;
}

@media screen and (min-width: 960px) {
  .image-container {
    height: 383px !important;
    overflow: hidden;
  }
  .image-container img {
    margin-bottom: -350px;
  }
  .main_menu {
    background: white;
  }
}
.section_menu {
  box-sizing: border-box;
  max-width: 1055px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  top: -60px;
  border-radius: 40px 40px 0 0;
  background: #F6F6F6;
  padding: 40px 15px;
}

@media screen and (min-width: 960px) {
  .section_menu {
    margin: auto;
    background: #F6F6F6;
    top: -45px;
  }
}
.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  z-index: 1;
}
.cards .card {
  background-color: white;
  padding: 2px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 10px 20px 20px 20px;
  color: black;
  text-decoration: none;
}
.cards .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards .card-text {
  flex-grow: 1;
}
.cards .card-text h4 {
  line-height: 20px;
  margin: 0;
}
.cards .card-text p {
  margin: 0;
}
.cards .new {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
  right: 12px;
  position: absolute;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  color: var(--green-font, #008766);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background: #99E2D0;
}
.cards .heart {
  padding-top: 10px;
  position: relative;
  z-index: 1;
}
.cards .heart:hover .heart-colored {
  transform: scale(1);
}
.cards .heart-colored {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 750ms ease-in-out;
}

@media (min-width: 960px) {
  .restaurant-container {
    max-width: 1080px;
    margin: auto;
  }
  .cards {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-text {
    width: 49%;
  }
}
.menu_title_all {
  width: 100%;
  max-width: 650px;
  text-transform: uppercase;
}
.menu_title_all .title_section_card {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 30px;
}

.box_menu_title {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  position: relative;
}
.box_menu_title .menu_title {
  font-family: shrikhand;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
}

@media screen and (min-width: 960px) {
  .box_menu_title {
    margin: auto;
    justify-content: center;
    gap: 30px;
  }
}
.main-button {
  font-size: 16px;
  border: 1px;
  height: 60px;
  width: 219px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  transition: transform 0.1s;
}

.main-button:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.menu-button {
  font-size: 16px;
  border: 1px;
  height: 60px;
  width: 219px;
  border-radius: 50px;
  color: white;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
}

.button-heart {
  text-align: center;
  gap: 20px;
}

.box_menu_title .heart {
  position: relative;
  z-index: 1;
}
.box_menu_title .heart:hover .heart-colored {
  transform: scale(1);
}
.box_menu_title .heart-colored {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 750ms ease-in-out;
}

.footer-main {
  background-color: #353535;
  margin-top: -45px;
  padding: 20px;
  text-align: left;
  color: white;
  top: 60px;
}
.footer-main .logo-footer {
  font-family: Shrikhand;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
}

@media (min-width: 980px) {
  .footer-main {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
  }
  .logo-container {
    display: flex;
  }
  .logo-footer {
    margin: auto;
  }
  .footer-menu {
    gap: 15px;
    display: flex;
    flex-direction: row;
  }
}
.card:hover .card {
  background-color: #99E2D0;
  transform: translate(0);
}

.card:hover .price {
  transform: translate(-220%);
}

.card:hover .card-text {
  display: inline-block;
  width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-plat:hover > .card-check-box {
  transition: width 400ms ease-in-out;
  width: 50px;
}
.card-plat:hover > .card-check-box i {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
